<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="ServerURL" value="http://homefinance.local"/>-->
		<add key="ServerURL" value="http://homefinance.flygaretorpet.se"/>
		<add key="AccountName" value="jakob"/>
		<add key="AccountPassword" value="secret :-)"/>
		<!--<add key="Flygaretorpet.URL" value="flygaretorpet.local"/>
		<add key="Flygaretorpet.EMail" value="jakob@meridium.se"/>
		<add key="Flygaretorpet.Password" value="julafton"/>-->
	</appSettings>
</configuration>